@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.passwordToggle {
  cursor: pointer;
  font-family: $font-family-primary;
  font-size: 12px;
  color: #39cdcc;
  font-weight: 600;
  user-select: none;
  padding: 4px 8px;
  background-color: #fff !important;
  border: none;
  transition: background-color 0.2s ease;

  &:focus {
    outline: none;
    outline-offset: 1px;
  }
}
