@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.label {
  font-family: $font-family-primary;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.2px;
  color: $color-text-secondary;
  margin-bottom: -4px;
}

.description {
  font-family: $font-family-primary;
  font-size: 12px;
  line-height: 16px;
  color: $color-text-secondary;
  margin-top: -4px;
}

.error {
  font-family: $font-family-primary;
  font-size: 12px;
  line-height: 16px;
  color: $color-status-blacklisted;
  margin-top: -4px;
}

// Error state for field
.field[data-invalid="true"] {
  .label {
    color: $color-status-blacklisted;
  }
}
