@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.userDetails {
  padding: 60px 100px;

  @include respond-to(tablet) {
    padding: 40px 30px;
  }

  @include respond-to(mobile) {
    padding: 24px 20px;
  }
}
