@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

// Eau Sans - Custom font
@font-face {
  font-family: "Eau Sans";
  src: url("@/assets/fonts/eau-sans/eau_sans_book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; // Performance optimization
}

@font-face {
  font-family: "Eau Sans";
  src: url("@/assets/fonts/eau-sans/eau_sans_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
