@use "../abstracts/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-family-primary;
  color: $color-text-primary;
  background-color: $color-background;
  line-height: 1.5;
}
